.flexbox {
    display: flex;
}

.common {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 300px;
    border: 1px solid black;
    background-color: beige;
    font-size: 30px;
}

.villain {
    width: 300px;
}

.action {
    width: 600px;
}

.victim {
    width: 300px;
}

.reason {
    width: 600px;
}
